@using C3_Dominio.Entidades
@model IEnumerable<Pedido>
@{
    Layout = "~/Views/MasterPage/Master.cshtml";
    List<Cliente> listaClientes = (List<Cliente>)Session["listaClientes"];
}

@section customCSS{
    <link rel="stylesheet" type="text/css" href="~/Recursos/assets/form-wizard/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="~/Recursos/assets/select2/select2.css">
    <link href="~/Recursos/assets/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
}

<div class="wraper container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div id="panelNuevaVenta" class="panel panel-color panel-purple">
                <div class="panel-heading">
                    <h3 class="panel-title">Pedidos Pendientes</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="wizard-validation-form" class="form-horizontal p-20" action="#">
                                <div>
                                    <h3>Seleccionar un pedido para la venta</h3>
                                    <section>
                                        <div class="row" id="contenedorPedidos">
                                            @{ foreach (Pedido pedido in Model)
                                                {
                                                    <div id="div_pedido_@pedido.id" class="col-lg-4 grow">
                                                        <div class="portlet">
                                                            <div class="portlet-heading bg-info" onclick="confirmarSeleccionPedido(@pedido.id)">
                                                                <h3 class="portlet-title">@pedido.mesa.numero</h3>
                                                            </div>
                                                            <div id="bg-success" class="panel-collapse collapse in">
                                                                <div class="portlet-body">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </section>
                                    <h3>Descuentos/Otros</h3>
                                    <section>
                                        <div class="form-group">
                                            <label for="selectBusquedaCliente" class="col-sm-3 control-label">Cliente </label>
                                            <div class="col-sm-9">
                                                <select name="selectBusquedaCliente" id="selectBusquedaCliente" class="select2">
                                                    <option></option>
                                                    @foreach (Cliente cliente in listaClientes)
                                                    {
                                                        <option value="@cliente.id">@cliente.dni | @cliente.generarNombreCompleto()</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div id="clienteDetallePlaceholder" class="row">

                                            </div>
                                        </div>
                                    </section>
                                    <h3>Resumen</h3>
                                    <section></section>
                                    <h3>Confirmación</h3>
                                    <section>
                                        <div class="form-group clearfix">
                                            <div class="col-lg-12">
                                                <input id="acceptTerms-2" name="acceptTerms2" type="checkbox" class="required">
                                                <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </form>
                        </div>  <!-- End panel-body -->
                    </div> <!-- End panel -->

                </div> <!-- end col -->

            </div> <!-- End row -->
        </div>
    </div>
</div>
@section scripts{
    <!--Form Validation-->
    <script src="~/Recursos/assets/form-wizard/bootstrap-validator.min.js" type="text/javascript"></script>

    <!--Form Wizard-->
    <script src="~/Recursos/assets/form-wizard/jquery.steps.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Recursos/assets/jquery.validate/jquery.validate.min.js"></script>

    <!--wizard initialization-->
    <script src="~/Recursos/assets/form-wizard/wizard-init.js" type="text/javascript"></script>

    @* Select2 Assets *@

    <script src="~/Recursos/assets/select2/select2.min.js" type="text/javascript"></script>

    @*Swal2 JS*@
    <script src="~/Recursos/assets/sweet-alert2/sweetalert2.min.js"></script>
    @* Select2 Init *@
    <script type="text/javascript">
        $("#selectBusquedaCliente").select2({
            width: '100%',
            placeholder: "Buscar un cliente...",
            allowClear: true
        });
        $("#selectBusquedaCliente").on("change", function (e) {
            var datita = new Array();
            datita.push(e.val);
            $.ajax({
                dataType: "html",
                contentType: "application/json",
                type: "POST",
                url: '@Url.Action("CargarDetalleCliente", "GestionarVenta")',
                data: JSON.stringify(datita),
                beforeSend: function () {
                    //nada xd tiene q verse como automatico
                },
                success: function (detalleCliente) {
                    $('#clienteDetallePlaceholder').html(detalleCliente);
                },
                error: function (xhr) {
                    alert('Contacte al administrador.')//cambiar swAl
                }
            });
        });
    </script>

    @*Pedidos handling*@
    <script type="text/javascript">
        var pedidos = $("div").filter(function () {
            return this.id.match(/div_pedido_/);
        })

        $.each(pedidos, function (i, v) {
            $(this).css('cursor', 'pointer');
        })


        var selected = false;
        function confirmarSeleccionPedido(idPedido) {
            swal({
                title: selected ? '¿Está seguro de remover el pedido?' : '¿Está seguro de agregar el pedido?',
                text: "Para seleccionar otro, clickea de nuevo el pedido y luego clickea el nuevo",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: selected ? 'Sí, remover pedido.':'Sí, agregar pedido.',
                cancelButtonText: 'No, cancelar.',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function () {

                if (!selected) {
                    selected = true;
                    $.each(pedidos, function (i, v) {
                        $(this).css('-webkit-filter', 'blur(10px)');
                    })
                    $("#div_pedido_" + idPedido).css('-webkit-filter', 'blur(0px)');
                    swal(
                      'Éxito',
                      'El pedido fue agregado a la venta',
                      'success'
                    )
                } else {
                    selected = false;
                    limpiarSeleccionPedido();
                    swal(
                      'Éxito',
                      'El pedido se quitó de la venta.',
                      'success'
                    )
                }

                
            }, function (dismiss) {
                // dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
                if (dismiss === 'cancel') {
                    swal(
                      'Operación cancelada.',
                      selected?'No se removió el pedido.':'No se seleccionó el pedido.',
                      'error'
                    )
                }
            });
        }

        function limpiarSeleccionPedido() {
            $.each(pedidos, function (i, v) {
                $(this).css('-webkit-filter', 'blur(0px)');
            })
        }


    </script>

}
