@using C3_Dominio.Entidades;
@model IEnumerable<Venta>
@{
    ViewBag.Title = "Listar";//~/Recursos/assets
    Layout = "~/Views/MasterPage/Master.cshtml";
}

<div class="wraper container-fluid">
    @*<div class="page-title">
        <h3 class="title">Datatable</h3>
    </div>*@

    <div class="row">
        <div class="col-md-12">
            <div id="panelListaVentas" class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">Ventas</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Numero - Serie</th>
                                        <th>Fecha</th>
                                        <th>Puesto</th>
                                        <th>Nombres</th>
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @{ 
                                    foreach (Venta venta in Model)
                                    {
                                    <tr>
                                        <td>@venta.serieNumero</td>
                                        <td>@venta.fecha.ToShortDateString()</td>
                                        <td>@venta.trabajador.tipoTrabajador.nombre</td>
                                        <td>@venta.trabajador.generarNombreCompleto()</td>
                                        <td>@venta.total</td>
                                        <td id="td_venta_@venta.id" class="dt[-head|-body]-center">
                                            
                                                @switch (venta.estado)
                                                {
                                                    case 0:
                                                        <input type="hidden" id="estado_venta_@venta.id" value="@venta.estado"/>
                                                        <a href="#" id="venta_@venta.id" onclick="cambiarEstadoVenta(@venta.id)" ><span class="label label-danger"><text>Anulado</text></span></a> break;
                                                    case 1:
                                                        <input type="hidden" id="estado_venta_@venta.id" value="@venta.estado" />
                                                        <a href="#" id="venta_@venta.id" onclick="cambiarEstadoVenta(@venta.id)"><span class="label label-success"><text>Activo</text></span></a> break;
                                                }
                                                
                                            
                                        </td>
                                        <td>
                                            <a href="#" id="modal_venta_trigger_@venta.id">
                                                <i class="zmdi zmdi-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    


@section scripts{

<script src="~/Recursos/assets/datatables/jquery.dataTables.min.js"></script>    
<script src="~/Recursos/assets/datatables/dataTables.bootstrap.js"></script>
<script src="~/Recursos/assets/datatables/dataTables.buttons.min.js"></script>
<script src="~/Recursos/assets/datatables/buttons.bootstrap.min.js"></script>
<script src="~/Recursos/assets/datatables/jszip.min.js"></script>
<script src="~/Recursos/assets/datatables/pdfmake.min.js"></script>
<script src="~/Recursos/assets/datatables/vfs_fonts.js"></script>
<script src="~/Recursos/assets/datatables/buttons.html5.min.js"></script>
<script src="~/Recursos/assets/datatables/buttons.print.min.js"></script>
<script src="~/Recursos/assets/datatables/dataTables.fixedHeader.min.js"></script>
<script src="~/Recursos/assets/datatables/dataTables.keyTable.min.js"></script>
<script src="~/Recursos/assets/datatables/dataTables.responsive.min.js"></script>
<script src="~/Recursos/assets/datatables/responsive.bootstrap.min.js"></script>
<script src="~/Recursos/assets/datatables/dataTables.scroller.min.js"></script>
<script src="~/Recursos/js/datatables.init.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable({
            "language": {
                "url": '../Recursos/lang/Spanish.json'
            },
            "columnDefs": [
                { "className": "dt-center", "targets": 0 }
            ]
        });

    });
    TableManageButtons.init();
    var currentId;
    var currentEstado;
    
    function cambiarEstadoVenta(idVenta) {
        //console.log("refrescar click");
        currentId = idVenta;
        currentEstado = $('#estado_venta_' + currentId).val();
        var data = new Array();
        data.push(currentId);
        data.push(currentEstado);
        //console.log(data);
        $.ajax({
            dataType: "html",
            contentType: "application/json",
            type: "POST",
            url: '@Url.Action("CambiarEstado", "GestionarVenta")',
            //traditional : true,
            data: JSON.stringify(data),
            beforeSend: function () {
                $('#panelListaVentas').append('<div class="panel-disabled"><div class="loader-1"></div></div>');
            },            
            success: function (partial) {
                //alert('success')
                //console.log(partial);
                $('#td_venta_' + currentId).html(partial);
            },
            complete: function () {
                var $pd = $('#panelListaVentas').find('.panel-disabled');
                $pd.fadeOut('fast', function () {
                    $pd.remove();
                });
            },
            error: function (xhr) {
                alert('Contacte al administrador.')//cambiar swAl
            }

        });
    };



</script>
}