@model C3_Dominio.Entidades.Producto

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/MasterPage/Master.cshtml";
}

<h2>Registrar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Producto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.precio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.precio)
            @Html.ValidationMessageFor(model => model.precio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.imagen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.imagen)
            @Html.ValidationMessageFor(model => model.imagen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estado)
            @Html.ValidationMessageFor(model => model.estado)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.tipoProducto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tipoProducto.id)
            @Html.ValidationMessageFor(model => model.tipoProducto.id)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
